#ignore server specified config files
app.wsgi
#ignore configuration files
settings.py
config.py
# ignore database files
*.db

*.swp
test
py/
.py/
.py3/
.idea/
logs/
uploads
.ropeproject
.DS_Store

*.py[cod]

secret_keys.py
# C extensions
*.so

# Packages
tests
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.gaedata
