{% set pagerurl="/admin/commentmgnt" %}
{% extends "part/adminbase" %}
{% block title %}Admin Blog--评论{% endblock title %}
{% block admincontent %}
<table class="widetable table table-condensed table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th class="check-column" scope="col" style="">
			<button class="btn btn-primary btn-xs" id="deletecomment">删除</button>
			</th>
			<th>昵称</th>
			<th>IP</th>
			<th>日期</th>
			<th>网站</th>
			<th>文章</th>
			<th>内容</th>
		</tr>
	</thead>
	<tbody>
		{% for comment in comments %}
		<tr>
			<td>
				<input class="page" type="checkbox" value="on" name="{{ comment.id }}">
			</td>
			<td>
				<a href="mailto:{{ comment.email }}">{{ comment.nickname }}</a>
			</td>
			<td>
				{{ comment.ip }} 
			</td>
			<td>
				<div class="time">{{ comment.create_time.strftime("%Y-%m-%d %H:%M") }}</div>
			</td>
			<td>
			{% if comment.website %}
				<a href="http://{{comment.website}}">
					<div class="vers">
						<span class="glyphicon glyphicon-globe"></span>
					</div>
				</a>
			{% endif %}
			</td>
			<td>
				<a href="/admin/commentmgnt?post_id={{comment.post_id}}">{{comment.url}}</a>
			</td>
			<td>
				{{ comment.content | truncate(50,True) }}
			</td>
		</tr>
		{% endfor %}				
	</tbody>
</table>
{% from 'part/pager3' import pager_funct %}
{{ pager_funct(pager)|safe }}
{% endblock admincontent %}


{% block  endscript %}
<script type="text/javascript">
$(document).ready(function(){
$("[type=checkbox]").click(function(){
	if ($(this).attr("checked")==undefined) { 
		$(this).attr("checked","checked");
	} else {
		$(this).attr("checked",false);
	}
});
	$("#deletecomment").click(function(){
		removelist=new Array;
		$(".page").each(function(){
			if($(this).attr("checked")=="checked"){
				removelist.push($(this).attr("name"));
			}
		});
		$.ajax({
			type:"delete",
			contentType:"application/json",
			url:"/comment",
			data:JSON_stringify(removelist),
			success:function(){
				var message="<span id='tmp'>删除成功</span>";
				$("#message").html("");
				$("#message").html(message);
				$("#tmp").fadeOut(3000,document.location.reload(true));
			},
			error:function(){
				alert('something error')
			}
		})
	});
});
</script>
{% endblock  endscript %}