{%extends 'part/adminbase'%}
{%block title%}Admin Blog--编辑文章{%endblock title%}
{%block extraadminhead%}
<script type="text/javascript" src="/static/js/lib/ckeditor/ckeditor.js"></script>
{%endblock extraadminhead%}

{%block admincontent%}     
	<form action="" method="post">
		<input type="hidden" name="post_id" id="post_id" {%if post.post_id %}value="{{post.post_id}}" {%endif%}>
		<div class="input-group">
			<span class="input-group-addon">标题</span>
			<input type="text"  name="title" id="title" value="{{post.title}}" class="form-control" placeholder="Title">
		</div><div class="input-group">
			<span class="input-group-addon">Url</span>
			<input type="text"   name="url" id="url" value="{{post.url}}" class="form-control">
		</div><div class="input-group">
			<span class="input-group-addon">标签</span>
			<input type="text" name="tags" id="tags" value="{{",".join(post.get_tags())}}" class="form-control" placeholder="逗号隔开">
		</div><div class="input-group">
			<span class="input-group-addon">关键词</span>
			<input type="text" name="keywords" id="keywords" value="{{post.keywords}}" class="form-control" placeholder="Meta keywords for search engine,separated by comma">
		</div><div class="input-group">
			<span class="input-group-addon">meta content</span>
			<input type="text" name="metacontent" id="metacontent" value="{{post.metacontent}}" class="form-control" placeholder="Meta content for search engine">
		</div>
		<div class="btn-group">
			<div class="btn-group">
				<button type="button" class="btn btn-primary menu" mark="{%if post.allow_visit==True%}allow_visit{%else%}deny_visit{%endif%}" id="allow_visit">{%if post.allow_visit==True%}发布{%else%}隐藏{%endif%}</button>
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropmenu" mark="allow_visit" href="#">发布</a></li>
					<li><a class="dropmenu" mark="deny_visit" href="#">隐藏</a></li>	
				</ul>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-primary menu" mark="{%if post.is_original==True%}is_original{%else%}not_original{%endif%}" id="is_original">{%if post.is_original==True%}是原创{%else%}非原创{%endif%}</button>
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropmenu" mark="is_original" href="#">是原创</a></li>
					<li><a class="dropmenu" mark="not_original" href="#">非原创</a></li>	
				</ul>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-primary menu" id="allow_comment" mark="{%if post.allow_comment==True%}allow_comment{%else%}deny_comment{%endif%}">{%if post.allow_comment==True%}允许评论{%else%}禁止评论{%endif%}</button>
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropmenu" mark="allow_comment" href="#">允许评论</a></li>
					<li><a class="dropmenu" mark="deny_comment" href="#">禁止评论</a></li>	
				</ul>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-primary menu" mark="{%if post.need_key==True%}need_key{%else%}deny_key{%endif%}" id="need_key">{%if post.need_key==True%}密码访问{%else%}公开访问{%endif%}</button>
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropmenu" mark="deny_key" href="#">公开访问</a></li>
					<li><a class="dropmenu" mark="need_key" href="#">密码访问</a></li>	
				</ul>
			</div>
		</div>

		<button class="btn btn-primary" id="submit">提交</button><button class="btn btn-primary" id="checkpost">预览</button><button class="btn btn-primary" onclick="window.open('/admin/mediamgnt');return false" >文件管理</button>
	</form>
	<textarea id="editor" >{{post.content}}</textarea>
</div>
{%endblock admincontent%}
{%block endscript%}
<script type="text/javascript">
$(document).ready(function(){
	editor = CKEDITOR.replace( 'editor');
	
//override ctrl+s function
	var isCtrl = false;
	editor.on( 'contentDom', function( evt ){
        	editor.document.on( 'keyup', function(event){
            	if(event.data.$.keyCode == 17) isCtrl=false;
       		});

        	editor.document.on( 'keydown', function(event){
            	if(event.data.$.keyCode == 17) isCtrl=true;
            	if(event.data.$.keyCode == 83 && isCtrl == true)
            	{
	                //The preventDefault() call prevents the browser's save popup to appear.
	                //The try statement fixes a weird IE error.
	                try {
	                    event.data.$.preventDefault();
	                    $("#submit").click();

	                } catch(err) {}
	                //Call to your save function
	                return false;
            	}
        	});
        });
	$('#submit').click(submitEvent);
	$("#checkpost").click(turnToPage);
	initClick();
	setInterval(auto_save,1000*45);
	$(window).bind('beforeunload', function(){
		if($("#url").val()){
	  		return 'Are you sure to leave?';
		}
	});
});

function submitEvent(){
	var content=editor.getData();
	$("#url").val($("#url").val().trim());
	$("#title").val($("#title").val().trim());
	$("#tags").val($("#tags").val().trim());
	$("#keywords").val($("#keywords").val().trim());
	$("#metacontent").val($("#metacontent").val().trim());

	var data={};
	data.title=$("#title").val();
	if(data.title==""){alert("no title!");return false;}
	data.url=$("#url").val();
	if(data.url==""){alert("no url!");return false;}
	data.tags=$("#tags").val();
	data.content=content;
	data.keywords=$("#keywords").val();
	data.metacontent=$("#metacontent").val();
	if($("#allow_comment").attr("mark")=="allow_comment"){data.allow_comment=true}else{data.allow_comment=false};
	if($("#allow_visit").attr("mark")=="allow_visit"){data.allow_visit=true}else{data.allow_visit=false};
	if($("#is_original").attr("mark")=="is_original"){data.is_original=true}else{data.is_original=false};
	if($("#need_key").attr("mark")=="need_key"){data.need_key=true}else{data.need_key=false};

	// data.allow_comment=$("#allow_comment").is(":checked");
	// data.allow_visit=$("#allow_visit").is(":checked");
	data.post_id=parseInt($("#post_id").val());
	data=JSON_stringify(data,false);
	$.ajax({
		type:"post",
		contentType:"application/json",
		url:'/admin/post',
		data:data,
		success:function(data){
			var message="<span id='tmp'>文章保存成功，你可以</span><a target='view_window' href='/page/"+$("#url").val();
			message+="'>查看文章</a>";
			$("#message").html("");
			$("#message").html(message);
			$("#tmp").fadeOut(3000);
			$("#post_id").val(String(data.post_id));

		}});
	return false;
}

function turnToPage(){
	if($("#post_id").val()!=null){
		window.open("/admin/overview/"+$("#post_id").val());
	}
	else{
		return false;
	}
	return false;
}
function initClick(){
	$(".dropmenu").click(function(){
		var choosecontent=$(this).text();
		var mark = $(this).attr("mark");
		$(this).parent().parent().parent().children(".menu").text(choosecontent);
		$(this).parent().parent().parent().children(".menu").attr("mark", mark);
	});
	//check is the url is in use
	$("#url").blur(function(){
		var url = $("#url").val().trim();
		// url should not be empty;
		if(url==""){
			$("#url").parent().addClass("has-error");
			return;
		}

		// ?,/,& are not allowed in url
		if(url.indexOf("?")>=0 || url.indexOf("/")>=0 || url.indexOf("&")>=0){
			$("#url").parent().addClass("has-error");
			return;
		}

		// url should be unique
		$.ajax({
			ansync:false,
			type :"get",
			url:"/admin/post/inplace?url="+$("#url").val().trim()+"&"+"post_id="+$("#post_id").val(),
			success:function(data){
				if(data.in_place==true){
					$("#url").parent().addClass("has-error");
					return;
				}
			}

		});
		$("#url").parent().removeClass("has-error");

	});
	$(function () {
		$(document).bind('keydown', function (event) {
		if (event.ctrlKey || event.metaKey) {
			switch (String.fromCharCode(event.which).toLowerCase()) {
					case 's':
						event.preventDefault();
						$("#submit").click();
						return false;
				}
			}
		});
	});
}

function auto_save(){
	/*save post to database every specified minutes*/
	if($("#title").val() && $("#url").val()){
		$("#submit").click();		
	}
}


 </script>
{%endblock  endscript%}
