{%extends "part/adminbase"%}
{%block title%}Admin Blog--参数设置{%endblock title%}

{%block admincontent%}
<form>
	<h4>博客设置</h4>
	<div class="input-group">
		<span class="input-group-addon">博客名称</span>		
		<input type="text"  name="blog_name" id="blog_name" value="{{config.BLOGNAME}}" class="form-control">
	</div>
	<div class="input-group">
		<span class="input-group-addon">博客URL</span>		
		<input type="text"  name="blogurl" id="blogurl" value="{{config.BLOGURL}}" class="form-control" placeholder="http://blog.ifconfiger.com">
	</div>
	<div class="input-group">
		<span class="input-group-addon">公告ID</span>		
		<input type="text"  name="blog_announce_id" id="blog_announce_id" value="{{config.ANNOUNCE_ID}}" class="form-control" placeholder="置为-1则不显示公告">
	</div>
	<div class="input-group">
		<span class="input-group-addon">公告字数长度</span>		
		<input type="text"  name="blog_announce_length" id="blog_announce_length" value="{{config.ANNOUNCE_LENGTH}}" class="form-control">
	</div>
	<h4>用户页面设置</h4>
	<div class="input-group">
		<span class="input-group-addon">文章显示数</span>		
		<input type="text"  name="page_post_count" id="page_post_count" value="{{config.PER_PAGE}}" class="form-control">
	</div>
	<div class="input-group">
		<span class="input-group-addon">侧边栏标签数</span>		
		<input type="text"  name="page_tag_count" id="page_tag_count" value="{{config.TAG_COUNT}}" class="form-control">
	</div>
	<div class="input-group">
		<span class="input-group-addon">侧边栏链接数</span>		
		<input type="text"  name="page_link_count" id="page_link_count" value="{{config.LINK_COUNT}}" class="form-control">
	</div>
	<div class="input-group">
		<span class="input-group-addon">侧边栏评论数</span>		
		<input type="text"  name="page_comment_count" id="page_comment_count" value="{{config.COMMENT_COUNT}}" class="form-control">
	</div>
	<h4>管理页面设置</h4>
	<div class="input-group">
		<span class="input-group-addon">管理页每页条目数</span>		
		<input type="text"  name="admin_item_count" id="admin_item_count" value="{{config.ADMIN_ITEM_COUNT}}" class="form-control">
	</div>

	<button class="btn btn-primary" id="submit">Submit</button>

</form>
{%endblock admincontent%}

{%block endscript%}
<script type="text/javascript">
function submitEvent(){
	page_set={};
	admin_set={};
	blog_set={};
	page_set.post_count=parseInt($("#page_post_count").val());
	page_set.tag_count=parseInt($("#page_tag_count").val());
	page_set.tag_search_count=parseInt($("#page_tag_search_count").val());
	page_set.link_count=parseInt($("#page_link_count").val());
	page_set.comment_count=parseInt($("#page_comment_count").val());
	page_set.rss_count=parseInt($("#page_rss_count").val());
	page_set.post_key=$("#page_post_key").val();

	admin_set.post_count=parseInt($("#admin_post_count").val());
	admin_set.comment_count=parseInt($("#admin_comment_count").val());
	admin_set.media_count=parseInt($("#admin_media_count").val());
	admin_set.announce_id=parseInt($("#blog_announce_id").val());
	admin_set.announce_length=parseInt($("#blog_announce_length").val());
	
	blog_set.blog_name=$("#blog_name").val().trim();
	blog_set.blogurl=$("#blogurl").val().trim();
	var data={};
	data.page_set=page_set;
	data.admin_set=admin_set;
	data.blog_set=blog_set;
	$.ajax({
		type:"post",
		url:"/admin/setting",
		contentType:"application/json",
		data:JSON_stringify(data),
		success:function(data){
			var message="<span id='tmp'>设置成功</span>"
			$("#message").html("");
			$("#message").html(message);
			$("#tmp").fadeOut(2000);
			setTimeout("window.location.reload()",2000);
		}

	});
	return false;

}

</script>
{%endblock endscript%}