{% extends "part/base"%}
{% block title%}{{ post.title }}{% endblock title%}

{% block meta%}
	{% if post.keywords%}<meta name="keywords" content='{{ post.keywords }}'/>{% endif%}
	{% if post.metacontent%}<meta name="description" content="{{ post.metacontent }}"/>{% endif%}
{% endblock meta%}
{% block extrafiles%}
	{%  if post.editor == "html" %}
		<link href="//cdn.bootcss.com/SyntaxHighlighter/3.0.83/styles/shCore.min.css" rel="stylesheet" type="text/css" />
		<link href="//cdn.bootcss.com/SyntaxHighlighter/3.0.83/styles/shThemeDefault.min.css" rel="stylesheet" type="text/css" />
	{%  else %}
		<link href="//cdn.bootcss.com/highlight.js/9.9.0/styles/atom-one-light.min.css" rel="stylesheet" type="text/css">
	{% endif %}
{% endblock extrafiles%}

{% block postbody%}
<form>
	<input type="hidden" id="post_id" name="post_id" value="{{ post.id }}">
</form>
<div class="bigwidget">
	<header>
	<h2 id="posttitle">
		<a href="/page/{{ post.url }}">
		{% if post.need_key%}<span class="glyphicon glyphicon-lock"></span>{% endif%}{{ post.title }}
		</a>
	</h2>
	<div>博主 创建于 {{ post.create_time.strftime("%Y-%m-%d") }}<!--  | 
	<strong>Modified:</strong> {{ post.update_time.strftime("%Y-%m-%d") }} -->
	</div>
	{% if comment%}
	<div>{{ comment.count }} comments</div>
	{% endif%}
	</header>
	<div class="tagcloud">
	{% for tag in post.get_tags()%}
		<div class="tag">
		<a href="/search/?tagname={{ tag|urlencode }}">{{ tag }}</a>
		</div>			
	{% endfor%}	
	</div>
	<div class="divider"></div>
	{% if admin_url == "overview"%}
		{% if post.need_key%}
		<h3 class="text-danger">本文需要密码访问</h3>
		{% endif%}	
		{% if post.editor == "html"%}
			<article id="content" class="content">{{ post.html_content | safe }}</article>
		{% else %}
			<article id="content" class="content">
				<textarea style="display:none">{{ post.content | safe }}</textarea>
			</article>
		{% endif %}
	{%endif%}
	{% if admin_url!= "overview"%}
		{% if post.need_key%}
		<div class="searchform" style="">
			<input type="password" id="post_password" placeholder="输入解密Key以继续,8-16数字、字母以及下划线组合">
			<input type="button" id="decrypt" name="decrypt button" class="btn btn-primary" value="GO" onclick="show_encrypted_data();return false;"/>
		</div>
		<article id="content" class="content">
			<textarea style="display:none"></textarea>
		</article>
		{% else %}
			{% if post.editor == "html"%}
				<article id="content" class="content">{{ post.html_content | safe }}</article>
			{% else %}
				<article id="content" class="content">
					<textarea style="display:none">{{ post.content | safe}}</textarea>
				</article>
			{% endif %}
		{% endif %}
	{% endif%}
	<div class="divider"></div>
	<div class="operation">
		{% if post.allow_comment%}操作: <a class="c-quote" href="#c-new">评论</a> {% endif%}{% if session.is_admin%} | <a href="/admin/post/{{ post.id }}">编辑</a>{% endif%} 
	</div>
</div>
{% if post.is_original%}
<div class="bigwidget">
	<p>除非注明，<a href="{{ g.config.BLOGURL }}">{{ g.config.BLOGNAME }}博客</a>文章均为原创，转载请以链接形式标明本文地址。</p>
	<p>本文地址：<a href="{{ g.config.BLOGURL }}page/{{ post.url }}">{{ g.config.BLOGURL }}page/{{ post.url }}</a></p>
</div>
{% endif%}

{% if post.allow_comment%}
<div class="bigwidget c-new" id="c-new">
	<div id="comment-widget">
	<form class="form-horizontal c-form" role="form">
	  <div class="form-group">
	    <label for="nickname" class="col-sm-2 control-label">昵称</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control input-sm form-inline" id="nickname" placeholder="中文、字母、数字、下划线" value="{{ session.nickname }}">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="email" class="col-sm-2 control-label">Email</label>
	    <div class="col-sm-4">
	      <input type="email" class="form-control input-sm form-inline" id="email" placeholder="Email不会被公开" value="{{ session.email }}">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="website" class="col-sm-2 control-label">网站</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control input-sm form-inline" id="website" placeholder="可选,不必输入http://" value="{{ session.website }}">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-8">
	      <div class="textarea">
	        <textarea class="form-control" rows="5" id="newcomment" placeholder="不支持特殊标签" ></textarea>
	      </div>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-8">
	      <button type="submit" class="btn btn-sm btn-primary" onclick="submitcomment(this);return false;">评论</button>
	    </div>
	  </div>
	</form>
	</div>
</div>

{% if comments%}
<div class="bigwidget usercommentfield">
	{% for eachcomment in comments%}
	<div class="c-list">
		<div class="c-meta">
			<i class="c-nickname">{{ eachcomment.nickname }}</i> {% if eachcomment.to%}回复 <i>{{ eachcomment.to }}</i> {% endif%}<span class="c-time">{{ eachcomment.create_time.strftime("%Y-%m-%d %H:%M") }}</span>
			<a href="#" class="c-quote"> 回复</a>
		</div>
		<div class="c-content" _id="{{ eachcomment.id }}">{{ eachcomment.content | safe }}</div>
	</div>
	<div class="divider"></div>
	{% endfor%}
</div>
{% endif%}
{% endif%}

{% endblock postbody%}
{% block  endscript%}
  {%  if post.editor == "html" %}
		<script src="//cdn.bootcss.com/SyntaxHighlighter/3.0.83/scripts/shCore.min.js"></script>
		<script src="//cdn.bootcss.com/SyntaxHighlighter/3.0.83/scripts/shAutoloader.min.js"></script>
  {%  else %}
  	<script src="//cdn.bootcss.com/marked/0.3.6/marked.min.js"></script>
	<script src="//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js"></script>
	<script src="//cdn.bootcss.com/highlightjs-line-numbers.js/1.1.0/highlightjs-line-numbers.min.js"></script>
  {%  endif %}
	<script src="/static/js/comment.min.js?version={{g.version}}" charset="utf-8"></script>

<script type="text/javascript">
	$(document).ready(function(){
		/*carrage return event*/
		$("#post_password").bind('keyup',function(e){
	   		if(e.keyCode=='13'){
				$("#decrypt").click();
			}
		});
	});

	function show_encrypted_data(){
		$("#content").html("");
		//client secondly request for encrypted data
		data={
			"post_password":$("#post_password").val(),	
			"posturl":$("#posttitle").children("a").attr("href").split("/")[2]
		};
		
		$.ajax({
			type:"post",
			url:"/key/",
			data:JSON.stringify(data),
			contentType:"application/json",
			success:function (data){
				data_to_html(data);
			}
		});
	}
</script>

{% if post.editor == "html" %}
	<script type="text/javascript">
		$(document).ready(function(){
			/*hightlight code*/
			highlight();
		});

		function path(){
		    var args = arguments,
		    result = [];
		    for(var i = 0; i < args.length; i++)
		        result.push(args[i].replace('@', '//cdn.bootcss.com/SyntaxHighlighter/3.0.83/scripts/'));
		    return result
		};
		
		function highlight(){
			SyntaxHighlighter.autoloader.apply(null, path(
		    'applescript            @shBrushAppleScript.js',
		    'actionscript3 as3      @shBrushAS3.js',
		    'bash shell             @shBrushBash.js',
		    'coldfusion cf          @shBrushColdFusion.js',
		    'cpp c                  @shBrushCpp.js',
		    'c# c-sharp csharp      @shBrushCSharp.js',
		    'css                    @shBrushCss.js',
		    'delphi pascal          @shBrushDelphi.js',
		    'diff patch pas         @shBrushDiff.js',
		    'erl erlang             @shBrushErlang.js',
		    'groovy                 @shBrushGroovy.js',
		    'java                   @shBrushJava.js',
		    'jfx javafx             @shBrushJavaFX.js',
		    'js jscript javascript  @shBrushJScript.js',
		    'perl pl                @shBrushPerl.js',
		    'php                    @shBrushPhp.js',
		    'text plain             @shBrushPlain.js',
		    'py python              @shBrushPython.js',
		    'ruby rails ror rb      @shBrushRuby.js',
		    'sass scss              @shBrushSass.js',
		    'scala                  @shBrushScala.js',
		    'sql                    @shBrushSql.js',
		    'vb vbnet               @shBrushVb.js',
		    'xml xhtml xslt html    @shBrushXml.js'
		    ));
			// SyntaxHighlighter.vars.discoveredBrushes=null;
			SyntaxHighlighter.defaults['toolbar'] = false;
			SyntaxHighlighter.defaults['quick-code'] = false;
			SyntaxHighlighter.all();
		}
	function data_to_html(data){
		if(data.validate==false){
			$("#content").html('<p class="text-danger" style="text-align:center;">'+ data.message +'<p>');
		}
		else if (data.error==true){
			$("#content").html('<p class="text-danger" style="text-align:center;">文章未发现<p>');
		}
		else{
			$("#content").html(data.message);
			highlight();
		}
	}
	</script>
{% else %}
	<script>
	hljs.initHighlightingOnLoad();
	hljs.initLineNumbersOnLoad();
	$(document).ready(markdownToHtml);

	function data_to_html(data){
		if(data.validate==false){
			$("#content").html('<p class="text-danger" style="text-align:center;">'+ data.message +'<p>');
		}
		else if (data.error==true){
			$("#content").html('<p class="text-danger" style="text-align:center;">文章未发现<p>');
		}
		else{
			$("#content").html("<textarea>" + data.message + "</textarea>");
			markdownToHtml();
		}
	}

	function markdownToHtml(){
		var content = $("#content textarea").text();
		$("#content").html(marked(content));
		// $('pre code').each(function(i, block) {
  		// 	hljs.highlightBlock(block);
		// });
		
		$('code.hljs').each(function(i, block) {
			hljs.lineNumbersBlock(block);
		});
	}

	</script>
{% endif %}
{% endblock  endscript%}

